button,
.button {
	background: white;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
	font-size: 16px;
	height: 50px;
	padding: 14px 20px;
	font-family: 'Montserrat';
	cursor: pointer;
	color: white;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
}

button:hover,
.button:hover {
	background: #fff;
}

button.primary,
.button.primary {
	background: #f9a03f;
	font-family: 'Open Sans';
	text-transform: capitalize;
	padding: 5px;
	font-size: 14px;
	border-radius: 8px;
	border: none;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: top;
	width: 135px;
	margin-left: 25px;
}

button.secondary {
	background: #f16d56;
	padding: 14px 20px;
	font-size: 12px;
	border: none;
	border-radius: 8px;
	margin-top: 20px;
	margin-left: 40px;
}

button.secondary:hover {
	background: #fff;
}

button.small {
	height: 34px;
	padding: 4px 15px;
}

button.cancel,
.button.cancel {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 14px;
	text-align: center;
	box-sizing: border-box;
}

button.full {
	width: 100%;
	font-weight: bold;
}
