button,
.button {
	background: white;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #f9a03f;
	font-size: 16px;
	height: 50px;
	width: 30px;
	padding: 14px 20px;
	font-family: 'Lato';
	cursor: pointer;
	color: #ffffff;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
}

button:hover,
.button:hover {
	background-color: #f9a03f;
}

button.primary:hover,
.button:hover,
a.primary:hover {
	color: white;
	text-decoration: none;
}
button.primary,
a.primary,
.button.primary {
	background: #f9a03f;
	font-family: 'Open Sans';
	text-transform: capitalize;
	padding: 2px;
	font-size: 14px;
	border-radius: 8px;
	border: none;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: top;
	color: white;
	-webkit-appearance: button;
	/* margin-left: 25px; */
}

button.primary.bookme {
	margin-top: 1px;
}

@keyframes ani9 {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(5px);
	}
}

.bounce {
	border-bottom: 1px;
}
@keyframes ani9 {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(5px);
	}
}

a.primary {
	padding: 15px;
	transition: all 0.2s linear;
	text-align: center;
}

a.primary:hover {
	animation: ani9 0.4s ease-in-out infinite alternate;
	text-decoration: none;
	transform: translatey(3px);
	box-shadow: none;
	opacity: 80%;
}

.primary + .primary {
	margin-left: 20px;
}

.secondary {
	background: #f16d56;
	/* background: #516b4b; */
	padding: 14px 20px;
	font-size: 12px;
	border: none;
	border-radius: 8px;
	margin-top: 20px;
	margin-left: 40px;
}

.secondary:hover {
	background: #fff;
}

button.small {
	padding: 4px;
	width: fit-content;
	background-color: inherit;
	outline-color: none;
}

button.cancel,
.button.cancel {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 14px;
	text-align: center;
	box-sizing: border-box;
}

button.full {
	width: 100%;
	font-weight: bold;
}
