.card {
	border: 1px solid #e2e2e2;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .create {
	width: 800px;
}

a.card {
	text-decoration: none;
	color: black;
	display: inline-block;
}

p.card-text {
	margin-top: 1rem;
}

.card .logo {
	width: 100px;
	height: 34px;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	margin: 20px auto;
}

.card > .content {
	padding: 5px;
	margin: 0;
}

.card-body {
	padding: 25rem;
	font-style: 100px;
}

/* CardBody span {
	font-style: 100px;
} */
.card > .content.large {
	padding: 10px;
}

.card.shadow {
	border: none;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.card.link {
	cursor: pointer;
	text-decoration: none;
}

card :hover {
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.card .image {
	border-radius: 6px 6px 0 0;
	height: 211px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.card .image > .icon {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
	background: transparent;
	border: none;
	color: white;
	height: 24px;
}

.card .image > .icon i.far {
	color: white;
}

.card p.footer {
	margin-top: 200px;
	margin-bottom: 0;
	font-size: 15px;
}

.card .content small.meta {
	color: #5e5e5e;
	font-family: 'Open Sans';
	/* font-size: 11px; */
	font-weight: bold;
}

.card .content small.location {
	margin-bottom: 10px;
}

/* neighborhood pin location */
.card .content small.location i + span {
	margin-left: 0;
	font-family: 'Open Sans';
	font-weight: 100;
	color: #5e5e5e;
}

div .small,
small {
	font-size: 114%;
	font-weight: 100;
}

/* space.title */

.card .content .price,
.card .rating {
	font-size: 15px;
	font-family: 'Open Sans';
	color: #8a8a8a;
	display: block;
}

.card .content .rating {
	color: #8a8a8a;
	margin-top: 8px;
	font-size: 10px;
	vertical-align: baseline;
}

.card .content .rating span {
	margin-left: 5px;
}

.card .content .likes i:last-child {
	margin-right: 5px;
}
/* margin bottom- divider line */

.card .location {
	color: #8a8a8a;
	display: block;
	/* font-size: 20px; */
	margin-top: 10px;
	border-bottom: 1px solid #e2e2e2;
	text-transform: uppercase;
	margin-top: 10rem;
}
/*this.city */
.card .location .city {
	font-family: 'Lato';
	font-size: 1em;
	text-transform: uppercase;
}
/* margin bottom- divider line */
.card .location i {
	margin-right: 5px;
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 0.6em;
	text-transform: uppercase;
}

.card.specs ul > li {
	line-height: 30px;
}

.card.specs ul > li > i {
	margin-right: 8px;
}

.card + p {
	margin-top: 40px;
}

/* modal end  */
.card h3 {
	margin-top: 0;
	font-size: 30px;
	margin-bottom: 10px;
}

.card small + form {
	margin-top: 40px;
}

.date {
	display: inline-block;
	margin-top: 14px;
	background: #ff5a5f;
	color: white;
	font-size: 14px;
	padding: 5px 8px;
	border-radius: 4px;
}
