div.jumbotron {
	background-color: #fff;
}

.gallery .image-main button {
	height: 30px;
}

.gallery .image-main .icon {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 30px;
	line-height: 0;
	padding: 0;
	background: transparent;
	border: none;
}

.gallery .image-main .icon i {
	color: white;
}

.gallery .cards {
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	/* grid-row-gap: 30px; */
}

.gallery .cards {
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: opacity 0.3s;
}

.gallery .cards:hover,
.gallery .cards.selected {
	opacity: 0.5;
}

/* new new */
.column {
	float: left;
	width: 25%;
	padding: 10px;
}

/* Style the images inside the grid */
.column img {
	opacity: 0.8;
	cursor: pointer;
}

.column img:hover {
	opacity: 1;
}

/* Clear floats after the columns */
/* .row:after {
	content: '';
	display: table;
	clear: both;
} */

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
	position: relative;
	display: none;
}

/* Expanding image text */
#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
}

/* //space gallery  */
.gallery {
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-bottom: 1px solid #e2e2e2;
}

/* main largeImage */
.gallery .image-main {
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.gallery .thumbnails {
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	/* width: 50vw; */
}

.display-3 {
	border-bottom: 1px solid #e2e2e2;
}
p.lead {
	border-bottom: none;
}

.gallery .thumbnail {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: opacity 0.3s;
}

.gallery .thumbnail:hover,
.gallery .thumbnail.selected {
	opacity: 0.5;
}
