i {
	/* this color to match coral buttons */
}

.fa-heart.fas {
	color: tomato;
}

.fa-star,
.fa-map-marker-alt {
	color: #00988f;
}

small i + span {
	margin-left: 10px;
}

/* change pin location color here */
.fas fa-map-marker-alt {
	color: #f9a03f;
	margin-right: 5px;
}
